.home-container{
    background-color: #F4F4F6;
    min-height: 100vh;
}
.headerRegion{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 72px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    padding: 0 120px;
}
.profile-container{
    display: flex;
    min-width: 86px;
    height: 100%;
    align-items: center;
}
.profile-img{
    width: 48px;
    height:48px;
    margin-right: 12px
}
.profile-name{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #6D8187;        
}
.logout{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
}
.logout-button{
    border: none;
    background-color: transparent;
    color: #6D8187;
}
.body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addTask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 304px;
    height: 158px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000A;
    border-radius: 12px;
    opacity: 1;
}
.task-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 84px;
}
.taskHeader{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #537178;
}
.taskButton{
    width: 124px;
    height: 40px;
    background: #5285EC;
    border-radius: 8px;
    border: none;
    color: #FFFF;
}
.modal-container{
    overflow: hidden;
    border-radius: 12px !important;
    width:296px !important;
    height: 194px !important;
}
.modal-title{
    margin:24px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #537178;
}
.modal-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
input[type=text]{
    width: 244px;
    max-height: 40px;
    background: #EEF1F8;
    border-radius: 8px;
    border:none;
    font-size: 14px;
    padding: 12px 0px;
    font-family: 'Montserrat', sans-serif;
}
.modal-button{
    width: 244px;
    height: 40px;
    background-color: #5285EC;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;

}
@media screen and (max-width:700px){
    .headerRegion{
        padding: 0 24px !important;
    }
    .body{
        margin-top:12px;
        height: auto !important;
        align-items: start  !important;
    }
    .addTask{
        width: 100%;
    }
    .taskHeader{
        font-size:24px;
    }
    .modal-dialog-centered{
        min-height: calc(50% - 1rem);
    }
    .modal-container{
        border-radius: 12px !important;
        width: 95% !important;
    }
    input[type=text]{
        width:85% !important;
    }
    .modal-button{
        width: 85%;
    }
}